/* Google Fonts */
@font-face {
	font-family: '양진체';
	src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GangwonEdu_OTFBoldA';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

/* Global */
:root {
	/* Color */
	--color-white: #ffffff;
	--color-light-white: #eeeeee;
	--color-dark-white: #bdbdbd;
	--color-kaki: #949b67;
	--color-light-kaki: #c5cc95;
	--color-dark-kaki: #656d3c;
	--color-sand: #e8deca;
	--color-dark-sand: #b6ac99;
	--color-zorba: #a09987;
	--color-grey: #616161;
	--color-light-grey: #7c7979;
	--color-dark-grey: #4d4d4d;
	--color-black: #000000;
	--color-blue: #5977c1;
	--color-violet: #867bb0;
	--color-orange: #ffa500;
	--color-beige: #f2e5cf;
	--color-ivory: #fffff0;
	--shape-gradient: linear-gradient(90deg, #c9ffbf, #ffafbd);
	--body-gradient: linear-gradient(#fffff0, #c5cc95);
	--container-color: #fffff0;

	/* Font Size */
	--font-large: 50px;
	--font-medium: 30px;
	--font-regular: 20px;
	--font-small: 18px;
	--font-micro: 16px;

	/* Font family */
	--body-font: 'GangwonEdu_OTFBoldA';
	--nav-font: '양진체';

	/* Font  Weight*/
	--weight-bold: 700;
	--weight-semi-bold: 600;
	--weight-regular: 400;

	/* Size */
	--logo-size: 40px;
	--size-border-radius: 4px;

	/* Annimation */
	--animation-duration: 300ms;
}

/*==================== LAYOUT ====================*/
.container {
	max-width: 789px;
	margin-left: 24px;
	margin-right: 24px;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 24px;
}

/* Universal tags */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	cursor: default;
}

a {
	text-decoration: none;
	color: var(--color-sand);
}

ul {
	list-style: none;
	padding-left: 0;
}

li {
	list-style: none;
}

button {
	background-color: transparent;
	cursor: pointer;
	border: none;
	outline: none;
	padding: 0px;
}

/*  Typography */
h1 {
	font-size: var(--font-large);
	font-weight: var(--weight-bold);
	color: var(--color-dark-grey);
	margin: 16px 0px;
}

h2 {
	font-size: var(--font-medium);
	font-weight: var(--weight-semi-bold);
	color: var(--color-dark-grey);
	margin: 8px 0;
}

h3 {
	font-size: var(--font-regular);
	font-weight: var(--font-regular);
	color: var(--color-dark-grey);
	margin: 8px 0;
}

p {
	font-size: var(--font-regular);
	font-weight: var(--font-regular);
	color: var(--color-dark-grey);
	margin: 4px 0;
}

/* Navbar */
#header {
	position: fixed;
	width: 100%;
	font-family: var(--nav-font);
	background-color: transparent;
	transition: all var(--animation-duration) ease-in-out;
	z-index: 11;
}

.topArea .topContents {
	width: 1240px;
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
}

#header.navbar--dark {
	background-color: var(--color-kaki);
	padding-left: 0px;
}

.navbar__menu {
	display: flex;
	gap: 4px;
}

.navbar__logo {
	display: flex;
	align-items: center;
	text-align: center;
	align-items: center;
	gap: 8px;
	font-size: var(--font-medium);
	font-weight: var(--weight-semi-bold);
}

.navbar__logo__img {
	margin-right: 5px;
	width: 36px;
	height: 36px;
}

.navbar__logo__title {
	text-shadow: -1.5px 0 var(--color-kaki), 0 1.5px var(--color-kaki),
		1.5px 0 var(--color-kaki), 0 -1.5px var(--color-kaki);
	font-size: 1.8rem;
}

.navbar__menu__item {
	padding: 8px 12px;
	margin: 0 4px;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: var(--size-border-radius);
	color: var(--color-sand);
	text-shadow: -1.5px 0 var(--color-kaki), 0 1.5px var(--color-kaki),
		1.5px 0 var(--color-kaki), 0 -1.5px var(--color-kaki);
}

.navbar__menu__item:hover {
	border-color: var(--color-sand);
	background-color: var(--color-dark-sand);
}

.navbar__toggle-btn {
	position: absolute;
	right: 32px;
	font-size: 24px;
	color: var(--color-sand);
	display: none;
}

/* Home */
#home {
	font-family: var(--body-font);
	background: url('imgs/home-background2.jpeg') center/cover no-repeat;
	padding: 40px;
	padding-top: 120px;
	text-align: center;
}

.home__avatar {
	width: 250px;
	height: 250px;
}

.home__title,
.home-description {
	color: var(--color-dark-grey);
}

.home__contact {
	color: var(--color-dark-grey);
	font-size: var(--font-regular);
	font-weight: var(--weight-bold);
	margin: 24px;
	padding: 8px 12px;
	border: 2px solid var(--color-dark-sand);
	border-radius: var(--size-border-radius);
}

.home__contact:hover {
	background-color: var(--color-orange);
}

/* Section common */
.section {
	padding: 50px;
	padding-top: 70px;
	text-align: center;
	margin: auto;
}

.section__container {
	font-family: var(--body-font);
	max-width: 1200px;
	margin: auto;
}

/* ABOUT */
.about__majors {
	display: flex;
	justify-content: space-around;
	margin: 80px 0;
}

.major__icon {
	width: 170px;
	height: 170px;
	line-height: 170px;
	font-size: 70px;
	margin: auto;
	color: var(--color-blue);
	border: 1px solid var(--color-dark-sand);
	border-radius: 50%;
	margin-bottom: 16px;
	cursor: pointer;
}

.major__icon img {
	transition: all var(--animation-duration) ease;
}
.major__icon img:hover {
	color: var(--color-dark-sand);
	transform: rotate(-30deg) scale(1.1);
}

.major__title,
.major__description {
	color: var(--color-dark-grey);
}

.major__description {
	font-size: var(--font-small);
}

.aboutEntry {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
	justify-items: center;
}

.school,
.certificate,
.activity {
	display: flex;
	align-items: center;
}

.school__logo,
.certificate__logo,
.activity__logo {
	width: 55px;
	margin-right: 20px;
	margin-top: 5px;
}

.school__description,
.certificate__description,
.activity__description {
	margin-bottom: 10px;
	text-align: left;
}

.school__name,
.school__period,
.certificate__name,
.certificate__period,
.activity__name,
.activity__period {
	color: var(--color-light-grey);
}

.school__name,
.certificate__name,
.activity__name {
	font-size: var(--font-small);
}

.school__period,
.certificate__period,
.activity__period {
	font-size: var(--font-micro);
}

/* Skill */
#skills {
	font-family: var(--body-font);
	background: var(--body-gradient);
}

.skill__categories {
	margin: 40px;
}

.skill__btn {
	font-family: var(--body-font);
	border: 1px solid var(--color-dark-white);
	border-radius: var(--size-border-radius);
	font-size: var(--font-regular);
	padding: 8px 48px;
	margin-top: 3px;
	position: relative;
}

.skill__btn.selected,
.skill__btn:hover {
	background-color: var(--color-kaki);
	color: var(--color-beige);
}

.skill__stacks {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	opacity: 1;
	transition: all var(--animation-duration) ease-out;
}

.skill__stacks.anim-out {
	opacity: 0;
	transform: scale(0.9) translateY(40px);
}

.skill {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	margin: 4px;
	background-color: var(--color-beige);
	border-radius: 20%;
	cursor: pointer;
}

.skill.invisible {
	display: none;
}

.skill__img {
	max-width: 100%;
	max-height: 100%;
}

.skill__description {
	position: absolute;
	background-color: black;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transform: translateY(10px);
	transition: all var(--animation-duration) ease-in;
}

.skill:hover .skill__description {
	opacity: 0.8;
	transform: translateY(0px);
}

.skill__description h3 {
	color: var(--color-orange);
}

.skill__description h3:after {
	content: '';
	display: block;
	position: relative;
	left: 50%;
	width: 50px;
	height: 2px;
	transform: translateX(-50%);
	margin-top: 8px;
	background-color: var(--color-dark-white);
}

@keyframes float-img {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-18px);
	}
	100% {
		transform: translateY(0);
	}
}

/* Work */
#work {
	background-color: var(--color-ivory);
}

.work__categories {
	margin: 40px;
}
.category__btn {
	font-family: var(--body-font);
	border: 1px solid var(--color-dark-white);
	border-radius: var(--size-border-radius);
	font-size: var(--font-regular);
	padding: 8px 48px;
	margin-top: 3px;
	position: relative;
}

.category__btn.selected,
.category__btn:hover {
	background-color: var(--color-kaki);
	color: var(--color-beige);
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
	opacity: 1;
	top: 0;
}

.category__count {
	background-color: var(--color-orange);
	border-radius: 50%;
	color: var(--color-white);
	width: 24px;
	height: 24px;
	line-height: 24px;
	display: inline-block;
	position: absolute;
	top: -20px;
	right: 16px;
	opacity: 0;
	transition: all var(--animation-duration) ease-in;
}

.work__projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	opacity: 1;
	transition: all var(--animation-duration) ease-out;
}

.work__projects.anim-out {
	opacity: 0;
	transform: scale(0.9) translateY(40px);
}

.project {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 280px;
	height: 250px;
	margin: 4px;
	background-color: var(--color-light-white);
}

.project.invisible {
	display: none;
}

.project__img {
	max-width: 100%;
	max-height: 100%;
}

.project__description {
	position: absolute;
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transform: translateY(10px);
	transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
	opacity: 0.8;
	transform: translateY(0px);
}

.project__description h3 {
	color: var(--color-orange);
}

.project__description h3:after {
	content: '';
	display: block;
	position: relative;
	left: 50%;
	width: 50px;
	height: 2px;
	transform: translateX(-50%);
	margin-top: 8px;
	background-color: var(--color-dark-white);
}

/* Contact */
#contact {
	font-family: var(--body-font);
	background-color: var(--color-kaki);
}

.contact__title,
.contact__email,
.contact__rights {
	color: var(--color-sand);
}

.contact__title {
	margin: 32px 0;
}

.contact__links {
	font-size: var(--font-large);
	margin: 24px 0;
	transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover {
	transform: scale(1.1);
	color: var(--color-orange);
}

/* Scroll */
.arrow-up {
	position: fixed;
	bottom: 50px;
	right: 50px;
	width: 70px;
	height: 70px;
	font-size: 50px;
	background-color: var(--color-dark-kaki);
	color: var(--color-sand);
	border-radius: 50%;
	opacity: 0;
	pointer-events: none;
	transition: opacity 300ms ease-in;
}

.arrow-up.visible {
	opacity: 1;
	pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 340px) {
}

@media screen and (max-width: 768px) {
	:root {
		/* Font Size */
		--font-large: 32px;
		--font-medium: 20px;
		--font-regular: 18px;
		--font-small: 16px;
		--font-micro: 14px;
	}

	.topArea .topContents {
		width: 100%;
		padding: 0 20px;
		flex-direction: column;
		justify-items: center;
		text-align: center;
	}

	#header.navbar--dark {
		background-color: var(--color-kaki);
		padding: 0 8px 0 8px;
	}

	.navbar__toggle-btn {
		display: block;
	}

	.navbar__menu {
		flex-direction: column;
		display: none;
	}

	.navbar__menu__item {
		margin: 4px 0;
	}

	.navbar__menu.open {
		display: block;
	}

	.section {
		padding: 16px;
		padding-top: 44px;
	}

	.about__majors,
	.aboutEntry {
		flex-direction: column;
		margin-top: 30px;
		margin-bottom: 0px;
		text-align: center;
		align-items: center;
	}

	.major {
		margin-bottom: 30px;
	}

	.category__btn,
	.skill__btn {
		margin: 4px 0;
		width: 100%;
	}

	.services__container {
		grid-template-columns: repeat(3, 218px);
		justify-content: center;
	}
	.services__icon {
		font-size: 2rem;
	}
	.services__content {
		padding: 6rem 0 2rem 2.5rem;
	}
	.services__modal-content {
		width: 450px;
	}

	.project {
		flex-grow: 1;
	}

	.arrow-up {
		width: 50px;
		height: 50px;
		font-size: 30px;
		line-height: 50px;
		right: 16px;
		bottom: 16px;
	}
}

@media screen and (min-width: 768px) {
	.topArea .topContents {
		width: 1240px;
	}

	.container {
		margin-left: auto;
		margin-right: auto;
	}
	.services__container {
		grid-template-columns: repeat(3, 218px);
		justify-content: center;
	}
	.services__icon {
		font-size: 2rem;
	}
	.services__content {
		padding: 6rem 0 2rem 2.5rem;
	}
	.services__modal-content {
		width: 450px;
	}
	.skill__container {
		grid-template-columns: repeat(2, 300px);
		column-gap: 24px;
	}
}

/* For large devices */
@media screen and (min-width: 1100px) {
	.skill__container {
		grid-template-columns: repeat(3, 328px);
	}
}
