@font-face {
  font-family: '양진체';
  src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-kaki: #949b67;
  --color-light-kaki: #c5cc95;
  --color-dark-kaki: #656d3c;
  --color-sand: #e8deca;
  --color-dark-sand: #b6ac99;
  --color-zorba: #a09987;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-dark-grey: #4d4d4d;
  --color-black: #000000;
  --color-blue: #5977c1;
  --color-violet: #867bb0;
  --color-orange: 	#FFA500;
  --color-beige: #f2e5cf;
  --color-ivory: 	#FFFFF0;
  

  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  
  

  /* Font  Weight*/
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --logo-size: 40px;
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 300ms;

}



/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-sand);
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/*  Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-dark-grey);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-dark-grey);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-dark-grey);
  margin: 8px 0;
}

p { 
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-dark-grey);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  font-family: '양진체';
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  padding: 16px;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}

#navbar.navbar--dark {
  background-color: var(--color-kaki);
  padding: 8px;
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  display: flex;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__logo img{
  margin-right: 5px;
  width: var(--logo-size);
  height: var(--logo-size);
}


.navbar__menu__item {
  padding: 8px 12px;
  margin:  0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
  color: var(--color-sand);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-sand);
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-sand);
}

.navbar__toggle-btn {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  color: var(--color-sand);
  display: none;
}

/* Home */
#home{
  background: url("imgs/home-background2.jpeg") center/cover no-repeat;
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
}

.home__title,
.home-description {
  color: var(--color-dark-grey);
}

.home__contact{
  color: var(--color-dark-grey);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-dark-sand);
  border-radius: var(--size-border-radius);
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* ABOUT */
.about__majors {
  display: flex;
  justify-content: space-around;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;
  color: var(--color-blue);
  border: 1px solid var(--color-dark-sand);
  border-radius: 50%;
  margin-bottom: 16px;

}

.major__icon i {
  transition: all var(--animation-duration) ease;
}
.major__icon i:hover {
  color: var(--color-dark-sand) ;
  transform: rotate(-30deg) scale(1.1);
}

.major__title, .major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

.school {
  display: flex;
  align-items: center;
}

.school__logo{
  width: 50px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.school__description{
  margin: 0 16px ;
  text-align: left;
}

.school__name, 
.school__period {
  color: var(--color-light-grey);
}

.school__name{
  font-size: var(--font-small);
}

.school__period {
  font-size: var(--font-micro);
}

.certificate {
  display: flex;
  align-items: center;
}

.certificate__logo {
  width: 55px;
  margin-right: 20px;
  margin-top: 5px;
}

.certificate__description {
  margin: 0;
  text-align: left;
}

.certificate__name, 
.certificate__period {
  color: var(--color-light-grey);
}

.certificate__name{
  font-size: var(--font-small);
}

.certificate__period {
  font-size: var(--font-micro);
}

/* Skill */
#skills {
  background-color: var(--color-ivory);
}
.skillset {
  display: flex;
  background-color: var(--color-light-kaki);
  color: var(--color-light-white);
  margin: 20px 0;
}
.skillset__title{
  color: var(--color-white);
}
.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-kaki);
  padding: 20px 40px;
}

.skill {
  margin-bottom: 32px;
}
.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-kaki);
}

.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-kaki);
}

.tools, 
.etc {
  padding: 20px;
}

/*==================== SERVICES ====================*/
.services__container{
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.services__content{
  position: relative;
  padding: 3.5rem .5rem 1.25rem 1.5rem;
  border-radius: var(--size-border-radius);
  box-shadow: 0 2px 4px rgba(0,0,0,.15);
  transition: .3s;
}

.services__content:hover{
  box-shadow: 0 4px 8px rgba(0,0,0,.15);
}

.services__icon{
  display: block;
  font-size: 1.5rem;
  color: var(--color-beige);
  margin-bottom: var(--mb-1);
}

.services__title{
  font-size: var(--font-regular);
  margin-bottom: var(--mb-1);
  font-weight: var(--font-medium);
}

.services__button{
  cursor: pointer;
  font-size: var(--small-font-size);
}

.services__button:hover .button__icon{
  transform: translateX(.25rem);
}

.services__modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  z-index: var(--z-modal);
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.services__modal-content{
  position: relative;
  background-color: var(--color-beige);
  padding: 1.5rem;
  border-radius: .5rem;
}

.services__modal-services{
  row-gap: 1rem;
}

.services__modal-service{
  display: flex;
}

.services__modal-title{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1-5);
}

.services__modal-close{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--color-beige);
  cursor: pointer;
}

.services__modal-icon{
  color: var(--color-beige);
  margin-right: var(--mb-0-25);
}

/* Active Modal */
.active-modal{
  opacity: 1;
  visibility: visible;
}


/* Work */
.work__categories{
  margin: 40px;
}
.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-kaki);
  color: var(--color-beige);
} 

.category__btn.active .category__count,
.category__btn:hover .category__count{
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px; 
  line-height: 24px;
  display: inline-block;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 4px;
  background-color: var(--color-light-white);
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description{
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}


.project__description h3 {
  color: var(--color-white);
}

.project__description h3:after {
  content: '';
  display: block;
  position: relative;
  left: 50%;
  width: 25px;
  height: 2px;
  margin-left: -12px;
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

/* Testimonial */
#testimonials {
  background-color: var(--color-light-white);
}

.testimonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  margin: 32px 0;
}

.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimonial__avatar:nth-child(odd){
  margin-right: 40px;
}

.testimonial__avatar:nth-child(even){
  margin-left: 40px;
}

.testimonial__speech-bubble {
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
}

.testimonial__speech-bubble p{
  color: var(--color-light-grey);
}

.testimonial__speech-bubble a {
  color: var(--color-kaki);
}

/* Contact */
#contact {
  background-color: var(--color-kaki);
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-sand);
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
  transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-orange);
}


/* Scroll */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  font-size: 50px;
  background-color: var(--color-dark-kaki);
  color: var(--color-sand);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}


/* For below 768px screen width */
@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }
}